<form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="isbn">ISBN:</label>
    <input id="isbn" formControlName="isbn" type="text">
    <p class="form-error" *ngIf="bookForm.get('isbn')?.hasError('required') && bookForm.get('isbn')?.touched">
      ISBN is required.
    </p>
  </div>

  <div>
    <label for="title">Title:</label>
    <input id="title" formControlName="title" type="text">
    <p class="form-error" *ngIf="bookForm.get('title')?.hasError('required') && bookForm.get('title')?.touched">
      Title is required.
    </p>
  </div>

  <div>
    <label for="author">Author:</label>
    <input id="author" formControlName="author" type="text">
    <p class="form-error" *ngIf="bookForm.get('author')?.hasError('required') && bookForm.get('author')?.touched">
      Author is required.
    </p>
  </div>

  <div>
    <label for="releaseDate">Release Date:</label>
    <input id="releaseDate" formControlName="releaseDate" type="date">
    <p class="form-error" *ngIf="bookForm.get('releaseDate')?.hasError('required') && bookForm.get('releaseDate')?.touched">
      Release date is required.
    </p>
    <p class="form-error" *ngIf="bookForm.get('releaseDate')?.hasError('futureDate') && bookForm.get('releaseDate')?.touched">
      Release date cannot be in the future.
    </p>
    
  </div>

  <div>
    <label for="description">Description:</label>
    <textarea id="description" formControlName="description"></textarea>
    <p class="form-error" *ngIf="bookForm.get('description')?.hasError('maxlength') && bookForm.get('description')?.touched">
      Description cannot exceed 255 characters.
    </p>
  </div>

  <div>
    <label for="pucharseLink">Purchase Link:</label>
    <input id="pucharseLink" formControlName="pucharseLink" type="url">
    <p class="form-error" *ngIf="bookForm.get('pucharseLink')?.hasError('pattern') && bookForm.get('pucharseLink')?.touched">
      Please enter a valid URL.
    </p>
  </div>

  <button type="submit" [disabled]="bookForm.invalid">
    {{ isEditMode ? 'Update Book' : 'Add Book' }}
  </button>
</form>
