<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<div th:replace="~{fragments :: header}"></div>

    <h1>Books</h1>
<p><a href="/books/add">Add Book</a></p>
    <div th:each="book : ${books}">
        <h2><span th:text="${book.title}"></span></h2>
        <p>Author: <span th:text="${book.author}"></span></p>
    </div>
    <a href="/">Powrót do strony głównej</a>
<div th:replace="~{fragments :: footer}"></div>
</body>
</html>