<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" th:href="@{/css/books.css}"/>

</head>
<body>
<div th:replace="~{fragments :: header}"></div>

    <h1>Books</h1>
<p><a href="/books/public/add">Add Book</a></p>
<table>
    <thead>
    <tr>
        <th>Zdjęcie</th>
        <th>Tytuł</th>
        <th>Autor</th>
        <th>Więcej informacji</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td>
            <div class="book-image">
                <img th:src="@{/books/public/cover(bookId=${book.getBookId()})}" alt="Book Cover">

            </div>
        </td>
        <td><span th:text="${book.title}"></span></td>
        <td><span th:text="${book.author}"></span></td>
        <td><a th:href="@{/books/public/{id}(id=${book.bookId})}">More info</a></td>
    </tr>
    </tbody>
</table>
    <a href="/">Powrót do strony głównej</a>
<div th:replace="~{fragments :: footer}"></div>
</body>
</html>