<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title th:text="${book.title}"></title>
  <link rel="stylesheet" th:href="@{/css/bookDetails.css}"/>

</head>
<body>
<div th:replace="~{fragments :: header}"></div>

  <h1 th:text="${book.title}"></h1>
  <p>Author: <span th:text="${book.author}"></span></p>
  <p>ISBN: <span th:text="${book.getISBN()}"></span></p>
  <p>Description: <span th:text="${book.description}"></span></p>
  <p>Release Date <span th:text="${book.releaseDate}"></span></p>
  <p><a th:href="@{${book.getPurchaseLink()}}">Purchase Link</a></p>
<img th:src="@{/books/public/cover(bookId=${book.getBookId()})}" alt="Book Cover">

<p th:if="${#authorization.expression('isAuthenticated()')}">
<a th:href="@{/books/edit/{id}(id=${book.getBookId()})}">Edytuj książkę</a>

<div class="reviews">
  <h2>Review</h2>

<div class="add-review" th:if="${#authorization.expression('isAuthenticated()')}">
    <h2>Dodaj recenzję</h2>
  <form th:action="@{/review/add/{id}(id=${book.getBookId()})}" method="post">
    <label for="reviewText">Your review</label>
    <textarea name="reviewText" id="reviewText" rows="3" cols="30" placeholder="Your review"></textarea>

    <input type="hidden" name="stars" id="stars" value="0">
    <div class="star-rating">
      <span onclick="gfg(1)" class="star">★</span>
      <span onclick="gfg(2)" class="star">★</span>
      <span onclick="gfg(3)" class="star">★</span>
      <span onclick="gfg(4)" class="star">★</span>
      <span onclick="gfg(5)" class="star">★</span>
    </div>


    <input type="submit" value="Send review">
  </form>
</div>

  <div th:each="review : ${book.getReviews()}">
    <div>
      <p>Author: <span th:text="${review.getUser().getUsername()}"></span></p>
      <p><span th:each="star : ${#numbers.sequence(1, review.getStars())}">★</span></p>
      <p>Content: <span th:text="${review.getText()}"></span></p>
    </div>
  </div>


</div>


<div th:replace="~{fragments :: footer}"></div>
<script>
  let stars = document.getElementsByClassName("star");
  let hiddenStarsInput = document.getElementById("stars");

  function gfg(n) {
    remove();
    for (let i = 0; i < n; i++) {
      if (n == 1) cls = "one";
      else if (n == 2) cls = "two";
      else if (n == 3) cls = "three";
      else if (n == 4) cls = "four";
      else if (n == 5) cls = "five";
      stars[i].className = "star " + cls;
    }
    hiddenStarsInput.value = n;
  }

  function remove() {
    let i = 0;
    while (i < 5) {
      stars[i].className = "star";
      i++;
    }
  }
</script>
</body>
</html>