<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" th:href="@{/css/books.css}"/>

</head>
<body>
<div th:replace="~{fragments :: header}"></div>

<p>Count of books in service: <span th:text="${booksCount}"></span></p>
<p>Count of reviews in service: <span th:text="${reviewsCount}"></span></p>

<h1>Books</h1>
<div th:if='${authority == "ROLE_ADMIN"}'>
<p><a href="/books/add">Add book</a></p>
</div>
<table>
    <thead>
    <tr>
        <th>Cover</th>
        <th>Title</th>
        <th>Author</th>
        <th>More info</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td>
            <div class="book-image">
                <img th:src="@{/books/public/cover(bookId=${book.getBookId()})}" alt="Book Cover">

            </div>
        </td>
        <td><span th:text="${book.title}"></span></td>
        <td><span th:text="${book.author}"></span></td>
        <td><a th:href="@{/books/public/{id}(id=${book.bookId})}">More info</a></td>
    </tr>
    </tbody>
</table>
    <a href="/">Powrót do strony głównej</a>
<div th:replace="~{fragments :: footer}"></div>
</body>
</html>