<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title th:text="${book.title}"></title>
  <link rel="stylesheet" th:href="@{/css/bookDetails.css}"/>

</head>
<body>
<div th:replace="~{fragments :: header}"></div>

  <h1 th:text="${book.title}"></h1>
  <p>Author: <span th:text="${book.author}"></span></p>
  <p>ISBN: <span th:text="${book.getISBN()}"></span></p>
  <p>Description: <span th:text="${book.description}"></span></p>
  <p>Release Date <span th:text="${book.releaseDate}"></span></p>
  <p><a th:href="@{${book.getPurchaseLink()}}">Purchase Link</a></p>
<img th:src="@{/books/public/cover(bookId=${book.getBookId()})}" alt="Book Cover">

<p th:if="${#authorization.expression('isAuthenticated()')}">
<a th:href="@{/books/edit/{id}(id=${book.getBookId()})}">Edytuj książkę</a>
</p>


<div class="shelves" th:if="${#authorization.expression('isAuthenticated()')}">
  <h2>Shelves</h2>
  <form id="shelfForm" th:action="@{/shelves/add-or-remove-book}" method="post">
    <h2>Add or remove book from shelf</h2>
    <input type="hidden" name="bookId" th:value="${book.bookId}" />

    <div id="shelvesContainer">
      <p>Loading shelves...</p>
    </div>

    <button type="submit">Submit</button>
  </form>





</div>



<div class="reviews">
  <h2>Review</h2>

<div class="add-review" th:if="${#authorization.expression('isAuthenticated()')}">
    <h2>Dodaj recenzję</h2>
  <form th:action="@{/review/add/{id}(id=${book.getBookId()})}" method="post">
    <label for="reviewText">Your review</label>
    <textarea name="reviewText" id="reviewText" rows="3" cols="30" placeholder="Your review"></textarea>

    <input type="hidden" name="stars" id="stars" value="0">
    <div class="star-rating">
      <span onclick="gfg(1)" class="star">★</span>
      <span onclick="gfg(2)" class="star">★</span>
      <span onclick="gfg(3)" class="star">★</span>
      <span onclick="gfg(4)" class="star">★</span>
      <span onclick="gfg(5)" class="star">★</span>
    </div>


    <input type="submit" value="Send review">
  </form>
</div>
</div>

  <div th:each="review : ${book.getReviews()}">
    <div>
      <p>Author: <span th:text="${review.getUser().getUsername()}"></span></p>
      <p><span th:each="star : ${#numbers.sequence(1, review.getStars())}">★</span></p>
      <p th:if="${review.getText()!=''}">Content: <span th:text="${review.getText()}"></span></p>
      <form th:action="@{/review/delete/{id}(id=${review.getReviewId()})}" method="post" th:if="${#authorization.expression('isAuthenticated()')}">
        <button class="delete-button" type="submit">Delete</button>
      </form>


  </div>
  </div>




<div th:replace="~{fragments :: footer}"></div>
<script>

  // Obsługa gwiazdek przy dodawaniu opinii
  let stars = document.getElementsByClassName("star");
  let hiddenStarsInput = document.getElementById("stars");
  gfg(3)

  function gfg(n) {
    remove();
    for (let i = 0; i < n; i++) {
      if (n == 1) cls = "one";
      else if (n == 2) cls = "two";
      else if (n == 3) cls = "three";
      else if (n == 4) cls = "four";
      else if (n == 5) cls = "five";
      stars[i].className = "star " + cls;
    }
    hiddenStarsInput.value = n;
  }

  function remove() {
    let i = 0;
    while (i < 5) {
      stars[i].className = "star";
      i++;
    }
  }


  // Obsługa półek
  document.addEventListener('DOMContentLoaded', function () {
    const form = document.getElementById('shelfForm');
    const shelvesContainer = document.getElementById('shelvesContainer');
    const bookId = document.querySelector('input[name="bookId"]').value;

    // Pobieranie danych półek z backendu
    fetch(`/shelves/get-by-user-and-book/${bookId}`)
            .then(response => response.json())
            .then(data => {
              shelvesContainer.innerHTML = '';

              data.forEach(shelf => {
                console.log(shelf);
                const label = document.createElement('label');
                const checkbox = document.createElement('input');
                checkbox.type = 'checkbox';
                checkbox.name = 'shelfIds';
                checkbox.value = shelf.shelfId;
                checkbox.setAttribute('data-shelf-name', shelf.name);
                checkbox.checked = shelf.bookOnShelf;

                label.appendChild(checkbox);
                label.appendChild(document.createTextNode(shelf.name));
                shelvesContainer.appendChild(label);
              });
            })
            .catch(error => {
              shelvesContainer.innerHTML = 'Error loading shelves';
              console.error('Error:', error);
            });

    form.addEventListener('submit', function (event) {
      event.preventDefault(); // Zatrzymanie domyślnego wysyłania formularza

      const shelvesData = [];

      document.querySelectorAll('input[name="shelfIds"]').forEach(function (checkbox) {
        const shelfId = checkbox.value;
        const shelfName = checkbox.getAttribute('data-shelf-name');
        const isBookOnShelf = checkbox.checked;

        shelvesData.push({
          shelfId: shelfId,
          name: shelfName,
          bookOnShelf: isBookOnShelf
        });
      });

      console.log(JSON.stringify(shelvesData));

      fetch(`/shelves/add-or-remove-book?bookId=${bookId}`, {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify(shelvesData)
      });
    });
  });
</script>

  </script>
</body>
</html>