<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="header">
    <header>
        <h1>
            <a th:href="@{/}">Goodreads</a>
        </h1>
    </header>
    <nav>
        <ul>
            <li>
                <a href="/books/public">Books</a>
            </li>
            <li th:if="${#authorization.expression('isAuthenticated()')}">
                <a href="/profile/">My Profile</a>
            </li>
            <li th:if="${#authorization.expression('isAuthenticated()')}">
                <a href="/api/auth/logout">Logout</a>
            </li>
            <li th:if="${#authorization.expression('!isAuthenticated()')}">
                <a href="/login">Login</a>
            </li>
        </ul>
    </nav>
</div>

<div th:fragment="footer">
    <footer>
        <p>&copy; 2025 Kopczewski Michał</p>
    </footer>
</div>
</body>
</html>
