<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Goodreads</title>
</head>
<body>
<div th:replace="~{fragments :: header}"></div>


<h1>Main Page</h1>

  <div th:if="${session.errorMessage}">
    <p th:text="${session.errorMessage}"></p>
  </div>

  <div th:if="${session.successMessage}">
    <p th:text="${session.successMessage}"></p>
  </div>

  <div th:if="${session.user}">
    <p>Logged in as: <span th:text="${session.user.username}"></span></p>
    <a href="/logout">Logout</a>
  </div>

<div th:replace="~{fragments :: footer}"></div>

</body>
</html>