<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
    <div th:replace="~{fragments :: header}"></div>
    <h1>User Page</h1>

    <p>Count of users in service: <span th:text="${usersCount}"></span></p>

    <h2>Informacje o użytkowniku</h2>
    <p>Username: <span th:text="${user.username}"></span></p>
    <p>Email: <span th:text="${user.email}"></span></p>

    <div th:if="${user.description != null}">
    <p>Description: <span th:text="${user.description}"></span></p>
    </div>

    <form th:action="@{/profile/delete/{id}(id=${user.getUserId()})}" method="post">
        <button type="submit" class="delete-button">Delete User</button>
    </form>

    <div th:if='${authority == "ROLE_ADMIN"}'>
        <h2>Congratulations, You are admin</h2>
    </div>

    <h2>My shelves</h2>
    <div th:each="shelf : ${user.getShelves()}">
        <p>Shelf: <span th:text="${shelf.getShelfName()}"></span></p>
    </div>

    <h2>Download Profile</h2>
    <form action="#" th:action="@{/api/user/profile/download-profile/{id}(id=${user.getUserId()})}" method="get">
        <button type="submit">Download</button>
    </form>


    <div th:replace="~{fragments :: footer}"></div>
</body>
</html>