<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
    <div th:replace="~{fragments :: header}"></div>
    <h1>User Page</h1>
    <h2>Informacje o użytkowniku</h2>
    <p>Username: <span th:text="${user.username}"></span></p>
    <p>Email: <span th:text="${user.email}"></span></p>

    <div th:if="${user.description != null}">
    <p>Description: <span th:text="${user.description}"></span></p>
    </div>

    <div th:if="${user.birthDate != null}">
    <p>Birth Date: <span th:text="${user.birthDate}"></span></p>
    </div>

    <form th:action="@{/profile/delete/{id}(id=${user.getUserId()})}" method="post">
        <button type="submit" class="delete-button">Delete User</button>
    </form>

    <h2>My shelves</h2>
    <div th:each="shelf : ${user.getShelves()}">
        <p>Shelf: <span th:text="${shelf.getShelfName()}"></span></p>
    </div>


    <div th:replace="~{fragments :: footer}"></div>
</body>
</html>