@if (book) {
  <app-book [book]="book"></app-book>
  @if (book.description) {
    <h2>Description</h2>
    <p>{{book.description}}</p>
  }


  @if (this.authService.isAdmin) {
    <button (click)="goToEditBook()">Edit Book</button>
    <button (click)="deleteBook()">Delete Book</button>
  }
  
  @if(authService.isLoggedIn){
    <app-add-review (reviewAdded)="loadReviews(book.bookId)">{{book.bookId}}</app-add-review>
  }
  
  @if (reviews.length > 0) {
    <h2>Reviews</h2>
    @for (review of reviews; track review) {
      <app-review [review]="review" (delete)=""></app-review>
    }
  }
}