<div class="review">
  <p>Author: {{review.user.username}}</p>
  <p>{{review.text}}</p>
  <p>Added: {{ formatDate(review.createdAt) }}</p>

  <div class="stars">
    @for (index of [].constructor(review.stars); track $index) {
      <i class="fa-solid fa-star"></i>
    }
    @for (index of [].constructor(5 - review.stars); track $index) {
      <i class="fa-regular fa-star"></i>
    }
  </div>

  @if (this.authService.isAdmin) {
    <button (click)="deleteReview()">Delete Review</button>
  }
</div>