<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Book - <span th:text="${bookDto.title}"></span></title>
    <link rel="stylesheet" th:href="@{/css/fragments.css}"/>
</head>
<body>
<div th:replace="~{fragments :: header}"></div>

<h1>Edit: <span th:text="${bookDto.title}"></span></h1>

<div th:if="${error}" class="alert alert-danger">
    <span th:text="${error}"></span>
</div>

<form th:action="@{/books/edit}" method="post" enctype="multipart/form-data" class="mt-4" th:object="${bookDto}">
    <input type="hidden" th:field="*{bookId}" />

    <div class="mb-3">
        <label for="ISBN" class="form-label">ISBN</label>
        <input type="text" id="ISBN" th:field="*{ISBN}" placeholder="ISBN">
        <div class="text-danger" th:if="${#fields.hasErrors('ISBN')}" th:errors="*{ISBN}"></div>
    </div>

    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" id="title" th:field="*{title}" placeholder="Title">
        <div class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
    </div>

    <div class="mb-3">
        <label for="author" class="form-label">Author</label>
        <input type="text" id="author" th:field="*{author}" placeholder="Author">
        <div class="text-danger" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></div>
    </div>

    <div class="mb-3">
        <label for="releaseDate" class="form-label">Release Date</label>
        <input type="date" id="releaseDate" th:field="*{releaseDate}">
        <div class="text-danger" th:if="${#fields.hasErrors('releaseDate')}" th:errors="*{releaseDate}"></div>
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea id="description" th:field="*{description}" rows="4" placeholder="Enter description"></textarea>
        <div class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
    </div>

    <div class="mb-3">
        <label for="purchaseLink" class="form-label">Purchase Link</label>
        <input type="url" id="purchaseLink" th:field="*{purchaseLink}" placeholder="Enter purchase link">
        <div class="text-danger" th:if="${#fields.hasErrors('purchaseLink')}" th:errors="*{purchaseLink}"></div>
    </div>

    <div class="mb-3">
        <label for="cover" class="form-label">Cover</label>
        <input type="file" id="cover" name="cover">
    </div>

    <button type="submit">Confirm</button>
</form>
<div th:replace="~{fragments :: footer}"></div>

</body>
</html>
