<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Goodreads</title>
  <link rel="stylesheet" th:href="@{/css/mainPage.css}"/>
</head>
<body>
<div th:replace="~{fragments :: header}"></div>

<h1>Main Page</h1>
<div th:if='${authority == "ROLE_ADMIN"}'>
  <p><a href="/admin/">Admin page</a></p>
</div>

  <div th:if="${session.errorMessage}">
    <p th:text="${session.errorMessage}"></p>
  </div>

  <div th:if="${session.successMessage}">
    <p th:text="${session.successMessage}"></p>
  </div>

  <div th:if="${session.user}">
    <p>Logged in as: <span th:text="${session.user.username}"></span></p>
    <a href="/logout">Logout</a>
  </div>

<div th:replace="~{fragments :: footer}"></div>

</body>
</html>