<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" th:href="@{/css/books.css}"/>

</head>
<body>
    <div th:replace="~{fragments :: header}"></div>
    <h1>User Page</h1>

    <p>Count of users in service: <span th:text="${usersCount}"></span></p>

    <h2>Informacje o użytkowniku</h2>
    <p>Username: <span th:text="${user.username}"></span></p>
    <p>Email: <span th:text="${user.email}"></span></p>

    <div th:if="${user.description != null}">
    <p>Description: <span th:text="${user.description}"></span></p>
    </div>

    <form th:action="@{/profile/delete/{id}(id=${user.getUserId()})}" method="post">
        <button type="submit" class="delete-button">Delete User</button>
    </form>

    <p><a href="/profile/edit">Edit profile</a></p>

    <div th:if='${authority == "ROLE_ADMIN"}'>
        <h2>Congratulations, You are admin</h2>
    </div>

    <h2>My shelves</h2>
    <div th:each="shelf : ${user.getShelves()}">
        <h3 th:text="${shelf.getShelfName()}"></h3>
        <table>
            <thead>
            <tr>
                <th>Cover</th>
                <th>Title</th>
                <th>Author</th>
                <th>More info</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${shelf.getBooks()}">
                <td>
                    <div class="book-image">
                        <img th:src="@{/books/public/cover(bookId=${book.getBookId()})}" alt="Book Cover">

                    </div>
                </td>
                <td><span th:text="${book.title}"></span></td>
                <td><span th:text="${book.author}"></span></td>
                <td><a th:href="@{/books/public/{id}(id=${book.bookId})}">More info</a></td>
            </tr>
            </tbody>
        </table>
        <a th:href="@{/profile/delete-shelf/{id}(id=${shelf.getShelfId()})}">Delete shelf</a>
    </div>
    <h2>Add new shelf</h2>
    <form th:action="@{/profile/add-shelf}" method="post">
        <label for="shelfName">Shelf name:</label>
        <input type="text" name="shelfName" id="shelfName" required>
        <p style="color:red" th:if="${error}" th:text="${error}"></p>
        <button type="submit">Wyślij</button>
    </form>



    <h2>Download Profile</h2>
    <form action="#" th:action="@{/api/user/profile/download-profile/{id}(id=${user.getUserId()})}" method="get">
        <button type="submit">Download</button>
    </form>


    <div th:replace="~{fragments :: footer}"></div>
</body>
</html>